// Define variables for your color scheme

// For example:
$red: #FF4545;
$blue: #0D6EFD;
$yellow: #FCF596;
$orange: #E67E22;
$green: #1EDD88;
$gray: #B7B7B7;
$light-gray: #F4F4F4;
$white: #FFFF;
$dark-gray: #161617;
