<h1>Vos réservations</h1>

<%@bookings_user.each do |booking|%>
  <p><%=booking.start_date%></p>
<% end %>

<h1>Vos chefs réservés</h1>

<%@bookings_chef.each do |booking|%>
  <p><%=booking.start_date%></p>
<% end %>
