<nav class="tt-navbar">
  <div class="tt-container">
    <%= image_tag "logo.png", alt: "Toc'Toque", class: "tt-logo-navbar" %>
    <div class= "tt-spacer"></div>
    <div class="tt-links-navbar">
      <div class="tt-menu">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-user"></i>
      </div>
        <ul class="tt-hamburger-navbar">
          <li><i class="fa-solid fa-right-to-bracket"></i> <a href="#">Connexion</a></li>
          <li><i class="fa-solid fa-user-plus"></i> <a href="#">Inscription</a></li>
        </ul>
    </div>
  </div>
</nav>
