.tt-navbar {
  height: 4rem;
  background-color: transparent;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
}

.tt-logo-navbar {
  width: 3.5rem;
}


.tt-links-navbar {
  position: relative;

  ul {
    width: 15rem;
    margin-top: 0.5rem;
  }

  ul a {
    text-decoration: none;
  }

  &:hover ul {
    display: block;
    transition: 0.5s;
  }
}

// Menu déroulant

.tt-hamburger-navbar {
// display: flex;
// flex-direction: column;
// // align-items: le;
// background-color: white;
// border: 1px solid grey;
// border-radius: 0.5rem;
// width: 10rem;
position: absolute;
right: 0;
top: 2.5rem;
// list-style-type: none;
// z-index: 1000;
// padding: 0.25rem 0;
// margin: 0;

  // a:first-of-type {
  //   border-radius: 0.5rem 0.5rem 0 0;
  // }

  // a:last-of-type {
  //   border-radius: 0 0 0.5rem 0.5rem;
  // }

  li a {
    color: grey;
    // position: relative;
    // padding: 0.75rem 1rem;
    // width: 100%;
    // text-align: center;
    // text-decoration: none;
    // color: grey;
    // font-weight: bold;
  }

}

/* ------- Menu Navbar -----------*/

.tt-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  height: 2.4rem;
  border-radius: 1.25rem ;
  padding: 0 1rem;
  background-color: white;
  color: grey;

    &:hover {
      box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
      transition: 0.3s;
    }
}
