.tt-navbar {
  height: 4rem;
  background-color: $red;
  align-items: center;
}

.tt-logo-navbar {
  width: 3.5rem;
}

.tt-link-navbar {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.tt-links-navbar {
  position: relative;

  ul {
    width: 20rem;
  }

  ul a {
    text-decoration: none;
  }

  &:hover ul {
    display: block;
    transition: 0.5s;
  }
}

// Menu déroulant

.tt-hamburger-navbar {
// display: flex;
// flex-direction: column;
// // align-items: le;
// background-color: white;
// border: 1px solid grey;
// border-radius: 0.5rem;
// width: 10rem;
position: absolute;
right: 0;
top: 2rem;
// list-style-type: none;
// z-index: 1000;
// padding: 0.25rem 0;
// margin: 0;

  li {

    // position: relative;
    // padding: 0.75rem 1rem;
    // width: 100%;
    // text-align: center;
    // text-decoration: none;
    // color: grey;
    // font-weight: bold;
  }

  li:hover {
    // background-color: grey;
  }

  li a {
    // text-align: center;
    // text-decoration: none;
    // color: grey;
    // font-weight: bold;
  }
}

/* ------- Menu Navbar -----------*/

.tt-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  height: 2rem;
  border-radius: 1rem ;
  padding: 0 1rem;
  background-color: white;
  color: grey;

    &:hover {
      box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
      transition: 0.3s;
    }
}
